[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
httpx = "*"
lightgbm = "*"
networkx = "*"
numpy = "*"
optuna = "*"
pandas = "*"
pyproj = "*"
rtree = "*"
scikit-image = "*"
scikit-learn = "*"
scipy = "*"
shapely = "*"
tenacity = "*"
tinydb = "*"
xmltodict = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.11"
